<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>品牌管理</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/angularjs/angular.min.js"></script>
<!-- 分页组件js-->
<script src="../plugins/angularjs/pagination.js"></script>
<!-- 分页组件css-->
<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
<script type="text/javascript">
	//定义模块，引入引入pagination分页模块
	var app = angular.module("pyg", ['pagination']);
	//定义控制器
	app.controller(
			"brandController",
			function($scope, $http) {
				//查询所有函数
				$scope.findAll = function() {
					//使用内置服务发送请求
					// ../代表的是上级目录，由于现在是在admin目录下，因此回到根目录发请求
					$http.get("../brand/findAll").success(function(data) {
						$scope.list = data;
					})

				};

                //重新加载列表 数据
                $scope.reloadList = function() {
                    //切换页码
                    $scope.search($scope.paginationConf.currentPage,
                        $scope.paginationConf.itemsPerPage);
                }
                //分页控件配置
                $scope.paginationConf = {
                    currentPage : 1,
                    totalItems : 10,
                    itemsPerPage : 10,
                    perPageOptions : [ 10, 20, 30, 40, 50 ],
                    onChange : function() {
                        $scope.reloadList();//重新加载
                    }
                };
                //分页
                $scope.findPage = function(page, rows) {
                    $http.get('../brand/findPage?page=' + page + '&rows='+ rows).success(function(data) {
                        $scope.list = data.rows;
                        $scope.paginationConf.totalItems = data.total;//更新总记录数
                    });
                };

                //添加函数
                $scope.add = function(){

                    //定义方法名
                    var methodName = "add";
                    //判断如果id存在,是修改
                    if($scope.entity.id!=null){
                        methodName="update";
                    }
                    //内置服务发送请求
                    $http.post("../brand/"+methodName,$scope.entity).success(function(data){
                        //判断
                        if(data.success){
                            //刷新
                            $scope.reloadList();
                        }else{
                            alert(data.message);
                        }
                    })

                };

                // 查询根据id查询
                $scope.findOne = function(id){
                    $http.get("../brand/findOne?id=" + id).success(function(response){
                        $scope.entity = response;
					});
				};

                // 定义查询对象
				$scope.searchEntity = {};

				$scope.search = function(page, rows){
				    $http.post("../brand/search?page=" + page + "&rows=" + rows,$scope.searchEntity).success(function(response){
                        // 更新总记录数
				        $scope.paginationConf.totalItems = response.total;
				        // 更新列表
				        $scope.list = response.rows;
					});
				};

				// 定义用于存放选中ID的集合
				$scope.selectIds = [];
				// 定义更新ids的方法
				$scope.updateSelection = function ($event,id) {
				    // 选中则是增加
					if($event.target.checked){
						$scope.selectIds.push(id);
					}else{
					    // 取消选择是删除
						var idx = $scope.selectIds.indexOf(id);
						$scope.selectIds.splice(idx,1);// 删除
					}
                };

				// 批量删除
                $scope.dele = function(){
				    $http.get("../brand/delete?ids=" + $scope.selectIds).success(function(response){
				        if(response.success){
                            $scope.reloadList();
						}else{
				            alert(response.message);
						}
					});
				}

			})
</script>
</head>
<!-- 使用分页插件后就不需要ng-init="findAll()"了因为分页组件会自动发请求，页面加载的时候-->
<body ng-app="pyg" ng-controller="brandController"
	class="hold-transition skin-red sidebar-mini">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">品牌管理</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">

						<!-- 注意在这里ng-click进行了entity对象的初始化-->
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" ng-click="entity={}" data-target="#editModal">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="删除" ng-click="dele()">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				品牌名:<input type="text" ng-model="searchEntity.name" >
				首字母:<input type="text" ng-model="searchEntity.firstChar" >
				<button ng-click="reloadList()">查询</button>
				<div class="has-feedback"></div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall"
							type="checkbox" class="icheckbox_square-blue"></th>
						<th class="sorting_asc">品牌ID</th>
						<th class="sorting">品牌名称</th>
						<th class="sorting">品牌首字母</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in list">
						<td><input type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
						<td>{{entity.id}}</td>
						<td>{{entity.name}}</td>
						<td>{{entity.firstChar}}</td>
						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" ng-click="findOne(entity.id)" data-target="#editModal">修改</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!--数据列表/-->
			<tm-pagination conf="paginationConf"></tm-pagination>
		</div>
		<!-- 数据表格 /-->


	</div>
	<!-- /.box-body -->

	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">品牌编辑</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" width="800px">
						<tr>
							<td>品牌名称</td>
							<td><input class="form-control" ng-model="entity.name" placeholder="品牌名称">
							</td>
						</tr>
						<tr>
							<td>首字母</td>
							<td><input class="form-control" ng-model="entity.firstChar" placeholder="首字母"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true" ng-click="add()">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>